body {
  background: hsl(208, 100%, 97%);
  color: rgb(125, 0, 150);
  font-family: "Roboto", "Helvetica Neue", "Poppins", "Helvetica", "Arial", "Open Sans", "Not Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  margin: 0;
}

#heading {
  margin-bottom: 7dvh;
}

#error {
 color: rgb(165, 0, 0);
 margin-bottom: 4dvh;
}

#button {
  background-color: rgb(125, 0, 150);
  padding: 8dvh;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0 16.89vh;
}

#button p {
  margin: 0;
}